/*!EDIT *.styl NOT *.css*/
.page#page-search
	padding: 30px 50px 20px 50px;
	
	input
		font-size: 3.0em;

	button
		font-size: 3.0em;

	.name
		width: 150px;
		display: inline-block;

	.location
		width: 250px;
		display: inline-block;
